<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>E-Hostel Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'img/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Login.css' %}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url({% static 'img/bg-01.jpg'%});">
        <div class="wrap-login100">
            {% if messages %}
                    {% for message in messages %}
                    <div aria-atomic="true" aria-live="assertive" class="toast show align-items-center w-100"
                         role="alert">
                        <div class="d-flex alert alert-success">
                            <div class="toast-body ">
                                {{ message }}
                            </div>
                            <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                    type="button"></button>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
            <form class="login100-form validate-form" action="/register/" method="POST">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>
                {% csrf_token %}
                    <span class="login100-form-title p-b-34 p-t-27">
						Registration
					</span>
                   <div class="wrap-input100 validate-input" data-validate="Enter Your Name">
                       <input class="input100" type="text" name="name" placeholder="Name" required pattern="[a-zA-Z\s]+">
                       <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Enter E-mail">
                        <input class="input100" type="email" name="email" placeholder="E-Mail" required>
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="pass" placeholder="Password" required>
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Confirm password">
                        <input class="input100" type="password" name="re_pass" placeholder="Confirm Password" required>
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Create Account
                        </button>
                    </div>
                <div class="text-center p-t-30">
                    <a class="txt1" href="/Login/">
                        Already have account? Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/Login.js' %}"></script>

</body>
</html>